__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.env
*.log
.git/
.gitignore
*.md
!README.md
tests/
scripts/*
!scripts/entrypoint.sh
